body {background: yellow;
font-family: 'Times New Roman', Times, serif ; 
font-stretch: narrower;
}



.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.hero img {

position:relative;
right: 330px;  
top: 200px;
    
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: red;
    
    
  }

  

  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  } 

.card header {
    padding: 20px;
    background: red;
}

.card img {
    width: 25%;
    min-width: 150px;
    transition: width 2s;
    
    
  }

  .card :hover {
    width: 300px;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-color: red;
    
    
   
    
  }

  #first {
    width: 350px;
  }
#first img {
  width: 350px;
  transition: width 2s;
}
#first img :hover {
  width: 300px
}

#divwrap {
  display: flex;
  flex-wrap: wrap;
}
 
.hero {
    height: 800px;
    width: 100%;
    object-fit: cover;
    background-image: url("assets\ac606c11f55f544baab1cdb332c01e98.jpg");
    background-size:  cover ;
    background-position: center ;
    
;}


.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    color: #ffffff;
    
}


    


p {font-size: 20px;
    line-height: 75px;
    background-color: red;}

    footer {
        background-color: red;
    }